body {
    margin: 0;
    overflow: hidden;
    background-color: #000000;
    color: white;
}

#webgl-canvas {
    display: block; /* remove extra space below canvas */
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1; /* ensure canvas is above background */
    background-color: transparent;
} 